;; shadow-cljs configuration
{:source-paths
 ["src",
  "test"
  "firebase"]

 :dependencies
 [[reagent "1.2.0"]
  [cider/cider-nrepl "0.43.1"]]

 :dev-http
 {3020 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :module-hash-names true

        :compiler-options
        {
         ;; set this to solve the "failed to convert sources" issue in firestore
         :output-feature-set :es7
         }

        :dev {:modules {:main {:entries [dev.core]
                               :init-fn dev.core/init!}}

              :closure-defines {dev.firebase.core/use-auth-emulator? true
                                dev.firebase.core/use-firestore-emulator? true
                                dev.firebase.core/use-storage-emulator? true
                                dev.firebase.core/use-functions-emulator-from-web? true}}

        :release {:modules {:main {:entries [main.core]
                                   :init-fn main.core/init!}}}}}}
